  .container {
  border: 1px solid black;
  width: 1400px;
  margin: 0 auto;
}

html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}


/* Header */

header {
  width: 100%;
  background-color: crimson;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 42px;
  margin-left: 24px;
  margin-right: 0.25rem;
}

nav .home a {
  color: white;
  text-decoration: none;
  padding-right: 2rem;
}

nav .home a span {
  color: grey;
  font-weight: 300;
}

nav .menu a {
  display: inline;
  padding: 1rem 0;
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding-right: 16px;
}


/* Footer */

footer {
  background-color: crimson;
  width: 100%;
  height: 144px;

}
footer nav span {
  color: white;
  font-weight: 300;
  margin-left: 24px;
}
nav .footer-menu a{
  display: inline;
  color: white;
  font-weight: 300;
  text-decoration: none;
  margin-right: 24px;
}
