      .container {
        width: 1440px;
        margin: 0 auto;
      }

      @media only screen and (max-width:1024px) {
        .container {
          width: 100%;
          margin: 0 auto;
        }
      }

      @media only screen and (max-width: 480px) {
        .container {
          width: 480px;
          height: auto;
          padding: 1rem 1rem;
        }
      }

      html {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 17px;
        background-color: #b22222;
      }
      /* Header */

      header {
  height: 4rem;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 1;
  width: 100%;
  background-color: #b22222;
  border-bottom: 2px solid black;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 42px;
  margin-left: 24px;
  margin-right: 0.25rem;
}

nav .home a {
  color: white;
  text-decoration: none;
  padding-right: 2rem;
  font-weight: 500;
}

nav .home a:hover {
  color: #191970;
  transition: color 0.5s ease-out 0.2s;
}

nav .home a span {
  color: silver;
  font-weight: 300;
}

nav .menu a {
  display: inline;
  padding: 1rem 0;
  color: white;
  font-weight: 900;
  text-decoration: none;
  padding-right: 16px;
}

nav .menu a:hover {
  color: #191970;
  transition: color 0.5s ease-out 0.2s
}
      nav .menu-desktop a:hover {
        color: #191970;
        transition: color 0.5s ease-out 0.2s
      }

      @media only screen and (max-width: 480px) {
        header {
          height: 3rem;
          position: relative;
          width: 100%;
          border-bottom: none;
        }
        nav .home {
          display: none;
        }
        .menu-desktop {
          display: none;
        }
        .menu-mobile {
          display: flex;
        }
      }
      /* Banner Section */

      .banner {
        margin-top: 4rem;
        display: flex;
        background-color: #c0c0c0;
      }

      .banner picture {
        width: 60%;
      }

      .banner img {
        max-width: 94%;
        padding: 32px 24px;
      }

      .banner-content {
        width: 40%;
        line-height: 1.2;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .banner-content .txt-box {
        max-width: 100%;
        margin-left: 50px;
      }

      .banner-content h2 {
        width: 100%;
        font-size: 3rem;
        justify-content: center;
      }

      .banner-content h3 {
        width: 100%;
        font-size: 1.25rem;
        font-weight: 600;
        padding-bottom: 32px;
      }

      .banner-content a {
        width: 80%;
        background-color: #b22222;
        text-align: center;
        padding: 16px;
        font-size: 1.125rem;
        border: 3px solid #191970;
        border-radius: 5px;
        color: white;
        font-weight: 500;
        text-decoration: none;
      }

      .banner-content a:hover {
        background-color: #191970;
        color: #b22222;
        border: 3px solid #b22222;
        text-transform: uppercase;
        font-weight: 700;
        transition: all 0.5s ease-out 0.2s
      }

      @media only screen and (max-width: 480px) {
        .banner {
          display: block;
          width: 100%;
        }
        .banner {
          margin-top: 1rem;
        }
        .banner picture {
          width: 100%;
        }
        .banner img {
          width: 100%;
          padding: 0 0;
        }
        .banner-content {
          width: 100%;
          line-height: 1.2;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .banner-content .txt-box {
          max-width: 100%;
          margin-left: 0;
        }
        .banner-content h2 {
          font-size: 2.5rem;
        }
        .banner-content h3 {
          width: 100%;
          font-size: 1.25rem;
          font-weight: 600;
          padding-bottom: 32px;
        }
      }
      /* Information Section */
      /* Main Topic */

      .info-section {
        display: flex;
        background-color: #f5f5f5;
      }

      .info-section .main-topic {
        width: 60%;
      }

      .info-section .main-topic img {
        width: 94%;
        padding: 32px 24px;
      }

      .info-section .main-topic .text {
        margin: 0 24px;
        padding-right: 10px;
      }

      .info-section .main-topic h1 {
        font-size: 2.2rem;
        font-weight: 800;
        margin-bottom: 24px;
        color: #4A4A4A;
      }

      .info-section .main-topic h2 {
        font-size: 2.2rem;
        font-weight: 800;
        margin-bottom: 24px;
        color: #4A4A4A;
      }

      .info-section .main-topic p {
        font-size: 0.95rem;
        color: #4A4A4A;
        line-height: 1.4;
        margin-bottom: 24px;
      }

      .info-section .main-topic h4 {
        font-size: 0.8rem;
      }
      /* Extra Topics */

      .small-info-1 {
        display: flex;
        align-items: center;
        border-bottom: 2px solid #b22222;
      }

      .info-section .right-column {
        width: 40%;
        padding-top: 16px;
        padding-bottom: 64px;
        border-left: 2px solid #b22222;
      }

      .info-section .right-column .small-img {
        width: 35%;
        height: auto;
        margin: 16px;
      }

      .info-section .right-column img {
        width: 100%;
      }

      .info-section .right-column .text {
        width: 65%;
      }

      .right-column h2 {
        font-size: 1.6rem;
        color: #4A4A4A;
        font-weight: 700;
        line-height: 8px;
      }

      .right-column p {
        color: #4A4A4A;
        font-size: 1rem;
        padding: 12px 0;
        line-height: 1.2rem;
      }

      .right-column a {
        font-size: 1rem;
        font-weight: 700;
      }

      .right-column .mobile img {
        display: none;
      }

      .small-info-1:hover {
        background-color: #b22222;
        transition: all 0.50s ease-out 0.2s;
      }

      .small-info-1:hover h2 {
        color: white;
        transition: all 0.50s ease-out 0.2s;
      }

      .small-info-1:hover p {
        color: white;
        transition: all 0.50s ease-out 0.2s;
      }

      .small-info-1:hover a {
        color: white;
        transition: all 0.50s ease-out 0.2s;
      }

      @media only screen and (max-width: 480px) {
        .info-section {
          width: 100%;
          margin-bottom: -45px;
        }
        .main-topic {
          display: none;
        }
        /* Extra Topics */
        .small-info-1 {
          display: block;
          border-bottom: none;
        }
        .info-section .right-column {
          width: 100%;
          padding-top: 1rem;
          border-left: none;
        }
        .info-section .right-column .small-img {
          display: none;
        }
        .right-column .mobile img {
          display: block;
        }
        .info-section .right-column img {
          width: 100%;
        }
        .info-section .right-column .text {
          width: 100%;
          padding-bottom: 1rem;
        }
      }
      /* START LEARNING */

      .start-learning {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 32px;
        background-color: #c0c0c0;
      }

      .start-learning h1 {
        font-size: 2rem;
        font-weight: 800;
        padding: 32px 0;
        text-align: center;
      }

      .course-text h2 {
        font-size: 1.6rem;
        color: #4A4A4A;
        font-weight: 700;
        line-height: 8px;
      }

      .course-text p {
        color: #4A4A4A;
        font-size: 1rem;
        line-height: 1.2rem;
      }

      .depts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .study-field {
        background-color: #f5f5f5;
        margin: 0 1rem 1rem 1rem;
        max-width: 400px;
      }

      .study-field:hover {
        position: relative;
        background-color: #b22222;
        color: #b22222;
        transition: all 0.6s ease-out 0.2s
      }

      .study-field:hover h2 {
        color: white;
        transition: all 0.50s ease-out 0.2s;
      }

      .study-field:hover p {
        color: white;
        transition: all 0.50s ease-out 0.2s;
      }

      .course-text {
        max-width: 325px;
        display: block;
        justify-content: center;
        margin-left: 16px;
      }

      picture img {
        width: 100%;
      }

      @media only screen and (max-width: 480px) {
        .start-learning {
          display: block;
          flex-wrap: nowrap;
          width: 100%;
        }
        .depts {
          display: block;
          justify-content: center;
        }
        .study-field {
          background-color: #f5f5f5;
          padding: 1rem;
          margin: 0 1rem 1rem 1rem;
          max-width: 100%;
        }
        .study-field picture {
          display: none;
        }
        .study-field p {
          display: none;
        }
      }
      /* Thesis Exhibit */

      .thesis {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 32px;
        background-color: #f5f5f5;
      }
      /* T-Header */

      .thesis h1 {
        font-size: 2rem;
        font-weight: 800;
        padding: 32px 0;
        text-align: center;
      }
      /* Video Section */

      .thesis .video-section {
        width: 60%;
        margin-bottom: 32px;
      }

      .thesis .video-section .text {
        width: 100;
        margin: 0px 24px;
      }

      .thesis .video-section h2 {
        font-weight: 800;
        margin-bottom: 24px;
        color: #4A4A4A;
      }

      .thesis .video-section p {
        font-size: 0.95rem;
        color: #4A4A4A;
        line-height: 1.4;
        margin-bottom: 32px;
        width: 85%;
      }

      .thesis .video-section video {
        width: 94%;
        padding: 0 16px 24px 24px;
      }
      /* Smaller Topics Right Side */

      .thesis-section {
        display: flex;
      }

      .small-info-2 {
        display: flex;
        align-items: center;
      }

      .thesis .right-column {
        width: 40%;
      }

      .thesis .right-column .small-img {
        width: 35%;
        height: auto;
        margin: 16px;
      }

      .thesis .right-column img {
        width: 100%;
      }

      .thesis .right-column .text {
        width: 65%;
      }

      .thesis .right-column h2 {
        font-size: 1.2rem;
        color: #4A4A4A;
        font-weight: 700;
      }

      .thesis .right-column p {
        color: #4A4A4A;
        font-size: 0.9rem;
        padding: 12px 0;
        line-height: 1.6;
      }

      .small-info-2:hover {
        background-color: #b22222;
        color: white;
        transition: all 0.50s ease-out 0.2s;
      }

      .small-info-2:hover p {
        color: white;
        transition: all 0.50s ease-out 0.2s;
      }

      .small-info-2:hover h2 {
        color: white;
        transition: all 0.50s ease-out 0.2s;
      }

      @media only screen and (max-width: 480px) {
        .thesis .right-column {
          display: none;
        }
        .thesis {
          display: block;
          padding-bottom: 0;
          width: 100%;
        }
        .thesis .video-section {
          width: 100%;
          height: auto;
          margin-bottom: 0;
          justify-content: center;
        }
        .thesis .video-section video {
          width: 100%;
          justify-content: center;
          padding: 0;
        }
        .thesis .video-section .text {
          display: none;
        }
      }
      /* Footer */

      footer {
        background-color: #b22222;
        width: 100%;
        height: 8rem;
        margin-top: 5px;
      }

      footer nav {
        align-items: center;
      }

      footer nav span {
        color: white;
        font-weight: 300;
        margin-left: 24px;
        align-items: center;
      }

      nav .footer-menu a {
        display: inline;
        color: white;
        font-weight: 300;
        text-decoration: none;
        margin-right: 24px;
      }

      @media only screen and (max-width: 480px) {
        nav .footer-menu a {
          display: none;
        }
        footer {
          height: 2rem;
          margin-top: 1.5rem;
        }
      }
